{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container col-8 mt-5 d-flex justify-content-center align-items-center flex-column ">
    <h2 class='text-center'>Welcome, {{user.username|title}}</h2>

        
        <a href="{% url 'goal_create_class' %}" class=' col-4 btn btn-success'>Add Goal</a>
     
            <div class='col-12' id="goals-list">
                {% include 'goals/partials/list.html' %}
            </div>

        

    </div>
</div>





{% endblock content %}
